<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.sms1920.spqs.ufit.launcher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".userprofile.settings.edit.email.EditEmailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.settings.edit.password.EditPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.settings.edit.personalinfo.EditPersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".workoutplan.create.SelectExercisesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".workoutplan.create.CreatingWorkoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".userprofile.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.registration.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".exercise.ExerciseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LauncherActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
    </application>

</manifest>